/*** Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*** Preset ***/
*{
    padding: 0;
    margin: 0;
    height: 100%
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
/*** Variables ***/
:root {
    --font-primary: 'Roboto', sans-serif;
    --font-title: "Raleway", sans-serif;
    --font-body: "Lexend Deca", sans-serif;
    --color-primary: #4f32f3;
    --color-primary-darked: #3f27c5;
    --color-secondary: #50E3C2;
    --color-secondary-darked: #3baa92;
    --color-text: #333333;
    --color-background: #FFFFFF;
    --color-neutral: #d2d6e2;

    --xs: .8rem;
    --s: 1.6rem;
    --m: 2.2rem;
    --l: 2.8rem;
    --xl: 3.6rem;
    --xxl: 4rem;

    --bar-s: 5rem;
    --bar-m: 7rem;
    --bar-l: 9rem;
}
.dark-theme {
    --color-background: #18181a;
    --color-text: #eee;
    --color-primary: #8867ff;
    --color-primary-darked: #6934fa;
    --color-secondary: #03dac6;
    --color-secondary-darked: #1db6a7;
}

/*** Basis ***/
body{
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-primary);
    font-size: 1.6rem;
}
h1,h2,h3,th{
    font-family: var(--font-title);
}
h1{
    font-size: var(--l);
}
h2{
    font-size: var(--m);
}
h3{
    font-size: var(--s);
}
/*** Dark Mode Switch ***/
:root {
    --switch-width: 50px;
    --switch-height: 24px;
    --thumb-size: 18px;
    --switch-padding: 3px;
}
body{
    transition: background .3s ease-in, color 5s ease-in;
}
.switch-theme {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
}

#toggleTheme {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-neutral);
    border-radius: var(--switch-height);
    transition: background-color .4s;
    padding: var(--switch-padding);
    box-sizing: border-box;
}

.slider::before {
    content: "";
    position: absolute;
    height: var(--thumb-size);
    width: var(--thumb-size);
    left: var(--switch-padding);
    bottom: var(--switch-padding);
    background-color: var(--color-background);
    border-radius: 50%;
    transition: transform .5s, background .2s;
}

#toggleTheme:checked + .slider::before {
    transform: translateX(calc(var(--switch-width) - var(--thumb-size) - calc(var(--switch-padding) * 2)));
    background-color: var(--color-background);
}

#toggleTheme:checked + .slider {
    background-color: var(--color-primary);
}
